Repository Baicheng-MiQ/backstage-open-feedback, changes with the labels that .github/labeler.yaml gives for each.
All labels: backend, frontend, common, cicd, documentation

.github/labeler.yaml:

backend:
  - plugins/open-feedback-backend/**/*

frontend:
  - plugins/open-feedback-frontend/**/*

common:
  - plugins/open-feedback-common/**/*

cicd:
  - .github/workflows/**/*

documentation:
  - docs/**/*
  - README.md

changed to sqlite better for local dev
  app-config.yaml
Labels: none

replaced all instances of @parsifal-m (npm prep)
  README.md
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/components/Root/Root.tsx
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/open-feedback-backend/README.md
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-backend/src/database/DatabaseHandler.ts
  plugins/open-feedback-backend/src/service/router.ts
  plugins/open-feedback-common/package.json
  plugins/open-feedback/README.md
  plugins/open-feedback/package.json
  plugins/open-feedback/src/api/openFeedbackBackendClient.ts
  plugins/open-feedback/src/api/types.ts
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
  plugins/open-feedback/src/components/OpenFeedbackForm/OpenFeedbackForm.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  yarn.lock
Labels: backend, common, documentation

replaced all instances of Parsifal-M
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-common/package.json
  plugins/open-feedback/package.json
Labels: backend, common

npm ready
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-backend/tsconfig.json
  plugins/open-feedback-common/package.json
  plugins/open-feedback-common/tsconfig.json
  plugins/open-feedback/package.json
  plugins/open-feedback/tsconfig.json
Labels: backend, common

added floating icon
  packages/app/src/components/Root/Root.tsx
Labels: none

debug: fixed dev wrong reference
  plugins/open-feedback/package.json
Labels: none

provided standard way to make feedback button floating
  README.md
  packages/app/src/components/Root/Root.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  yarn.lock
Labels: documentation

fixed linting problem
  README.md
  packages/app/src/components/Root/Root.tsx
Labels: documentation

prettier...
  README.md
  packages/app/src/components/Root/Root.tsx
  plugins/open-feedback-backend/tsconfig.json
  plugins/open-feedback-common/tsconfig.json
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  plugins/open-feedback/tsconfig.json
Labels: backend, common, documentation

added makefiles
  Makefile
  README.md
  plugins/open-feedback-backend/Makefile
  plugins/open-feedback-common/Makefile
  plugins/open-feedback/Makefile
Labels: backend, common, documentation

corrected version number
  plugins/open-feedback/package.json
Labels: none

source bug in test
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
Labels: none

updated readme
  README.md
  plugins/open-feedback/package.json
Labels: documentation

added URL collection
  plugins/open-feedback-backend/migrations/20240503151050_openfeedback_table.js
  plugins/open-feedback-backend/migrations/20240712131100_openfeedback_table.js
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-backend/src/database/DatabaseHandler.test.ts
  plugins/open-feedback-backend/src/database/DatabaseHandler.ts
  plugins/open-feedback-backend/src/service/router.test.ts
  plugins/open-feedback-backend/src/service/router.ts
  plugins/open-feedback-common/package.json
  plugins/open-feedback-common/src/index.ts
  plugins/open-feedback/package.json
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.test.tsx
  plugins/open-feedback/src/components/OpenFeedbackForm/OpenFeedbackForm.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
Labels: backend, common

added feedback display
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
Labels: none

prettier
  README.md
  plugins/open-feedback-backend/migrations/20240712131100_openfeedback_table.js
  plugins/open-feedback-backend/src/service/router.test.ts
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
Labels: backend, documentation

added slack
  app-config.yaml
  plugins/open-feedback-backend/src/index.ts
  plugins/open-feedback-backend/src/plugin.ts
  plugins/open-feedback-backend/src/service/router.ts
  plugins/open-feedback-backend/src/service/slack.ts
Labels: backend

url capture: common
  plugins/open-feedback-common/src/index.ts
Labels: common

url capture: backend
  plugins/open-feedback-backend/migrations/20240503151050_openfeedback_table.js
  plugins/open-feedback-backend/src/database/DatabaseHandler.test.ts
  plugins/open-feedback-backend/src/database/DatabaseHandler.ts
  plugins/open-feedback-backend/src/service/router.test.ts
  plugins/open-feedback-backend/src/service/router.ts
Labels: backend

url capture: front end
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.test.tsx
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
  plugins/open-feedback/src/components/OpenFeedbackForm/OpenFeedbackForm.tsx
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
Labels: none

mockOpenFeedbackBackendApi type bug fix
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
Labels: none

prittier
  plugins/open-feedback-backend/src/service/router.test.ts
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
Labels: backend

created new database migration to follow best practices
  plugins/open-feedback-backend/migrations/20240503151050_openfeedback_table.js
  plugins/open-feedback-backend/migrations/20240716124538_add_url_col.js
Labels: backend

updated version numbers
  plugins/open-feedback-backend/package.json
  plugins/open-feedback-common/package.json
  plugins/open-feedback/package.json
Labels: backend, common

allowed custom title and subtile for OpenFeedbackPage
  README.md
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.test.tsx
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.tsx
  yarn.lock
Labels: documentation

bug fix: export props
  plugins/open-feedback/package.json
  plugins/open-feedback/src/components/OpenFeedbackPage/OpenFeedbackPage.tsx
Labels: none

clickable link on feedback card
  plugins/open-feedback/src/components/OpenFeedbackCard/OpenFeedbackCard.tsx
Labels: none

updated version number
  plugins/open-feedback/package.json
Labels: none

resolved unfixed merge confict
  plugins/open-feedback-backend/src/service/router.test.ts
  plugins/open-feedback/src/components/OpenFeedbackModal/OpenFeedbackModal.tsx
  yarn.lock
Labels: backend
